/* Snackbar de error con fondo rojo */
.snackbar-error {
  background-color: red;
  color: white;
}

/* Snackbar de éxito con fondo verde */
.snackbar-success {
  background-color: green;
  color: white;
}
h2 {
  text-align: center;
}
